.list {
   padding: 10px;
}
.numberList{
   margin-bottom: 20px;
   display: flex;
}
.number {
   background-color: #e3c7ad;
   font-size: 18px;
   padding: 5px 15px;
   cursor: pointer;
   margin: 0px 10px;
}
.numberSelected {
   background-color: #0affab;

}
.button{
   background-color: #743293;
   font-size: 24px;
   padding: 5px 15px;
   cursor: pointer;
   margin: 0px 10px;
   color: white;
}