.formContainer {
    background-color: lightseagreen;
    width: 100%;
    padding: 15px;
}

.form {
    display: flex;
    gap: 10px;
}

.inputBlock {
    flex: 1 1 auto;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
    font-size: 18px;
    resize: none;
    line-height: 150%;
    letter-spacing: 1.3px;

}
.input{
    padding: 10px;
    width: 100%;
    /*resize: none;*/

    height: 100%;
}

.buttonBlock {
    flex: 0 0 120px;
    padding: 15px 10px;
}
.buttonBlock button{
    background-color: #1a3d1d;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}