

.posts{
}
.title{
   padding-left: 30px;
   font-size: 20px;
   margin-bottom: 10px;
   font-weight: 600;

}
.formWrapper{
   width: 100%;
   padding: 0px 30px;
   display: flex;
   gap: 20px;

}
.input{
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   height: 100%;
   border: 3px white solid;
   resize: none;

}
.input.error{
border: 3px red solid;
}
.button{
   height: 100%;
   padding: 10px 30px;
   align-items: center;
   text-transform: uppercase;

}
.list{
   padding: 20px;
}
.inputBlock{
   flex: 1 1 auto;
}
.buttonBlock{

}