.wrapper{

}

.columns{
    display: flex;
}

.columnDialogs{
    flex: 0 0 30%;

}

.dialogList{
    padding: 20px;

}
.dialogItem{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e3c7ad;
    letter-spacing: 1.3px;
    color: #2b0848;
}
.dialogPerson{

    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: inherit;
}



.columnMessages{
    flex: 0 0 70%;

}
.MessagesList{
    padding: 20px;
}
.MessagesItem{
    margin-bottom: 10px;
    background: #91d5bf;
    padding: 10px 30px;

}
.MessagesContent{

}