.wrapper {
   height: 100%;
}

.columns {
    display: flex;
    height: 100%;

}

.columnDialogs {
    flex: 0 0 30%;
}

.dialogList {
    padding: 20px;

}


.columnMessages {
    height: 100%;
    flex: 0 0 70%;
    background-color: #9a7ec4;
    display: flex;
    flex-direction: column;
}

.messagesList {
    padding: 20px;
    flex: 1 1 auto;
}

.form{
}



